<footer>
    <div class="bg-accent mt-5">
      <div class="container">
        <div class="row">
          <div class="col-sm-6 text-lg-left text-center">
            <h4>
              {{ footersideinfo.sec1_msg1 }}
            </h4>
          </div>

          <div class="col-sm-6 text-lg-right text-center">
            
              <a  href="{% url 'contact' %}"> <button class="btn btn-light">{{ footersideinfo.sec1_button }} </button></a>
            
          </div>
        </div>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-md-4 text-lg-left text-center">
          <h5>
            {{ footersideinfo.sec2_msg2 }}
          </h5>
        </div>
        <div class="col-md-4 text-lg-center text-center">
          <h5>
            {{ footersideinfo.copyrightmsg }}
          </h5>
        </div>
        <div class="col-md-4 text-lg-right text-center">
          <div>

            <a  href="{{ footersideinfo.facebook_url }}"><button class="btn btn-accent"> <i class="fab fa-facebook-f fa-lg	"></i> </button></a>
            <a  href="{{ footersideinfo.instagram_url }}"><button class="btn btn-accent"> <i class="fab fa-instagram fa-lg	"></i> </button></a>
            <a  href="{{ footersideinfo.twitter_url }}"><button class="btn btn-accent"> <i class="fab fa-twitter fa-lg	"></i> </button></a>
            <a  href="{{ footersideinfo.youtube_url }}"><button class="btn btn-accent"> <i class="fab fa-youtube fa-lg	"></i> </button></a>

          </div>
        </div>

      </div>
    </div>
  </footer>