<header class="header ">
    <div class="container">
      <div class="row ">
        <div class="col-md-6 header-info">
          <a href="mailto:{{ headersideinfo.email }}" class="mr-3">{{ headersideinfo.email }}</a>
          <span>Call at: +91 {{ headersideinfo.mobile }} </span>
        </div>
        <div class="header-buttons col-md-6 d-flex justify-content-end">
          <a class="btn btn-accent mr-3" href="{% url 'login' %}">{{ headersideinfo.signin }}</a>
          <a class="btn btn-accent " href="{% url 'register' %}">{{ headersideinfo.signup }}</a>
        </div>
      </div>
    </div>
  </header>