{% load static %}
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
      <a class="navbar-brand" href="{% url 'home' %}">
        <img src="{% static './assets/images/logo.png' %}" alt="" width="140" height="30" alt="" loading="lazy">
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
        aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          {% url 'home' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %}">
            <a class="nav-link" href="{{ url }}">Home</a>
          </li>
          {% url 'about' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %}">
            <a class="nav-link" href="{{ url }}">About</a>
          </li>
          {% url 'youtubers' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %}">
            <a class="nav-link" href="{{ url }}">Tubers</a>
          </li>
          {% url 'services' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %}">
            <a class="nav-link" href="{{ url }}">Services</a>
          </li>
          {% url 'contact' as url %}
          <li class="nav-item {% if request.path == url %}active{% endif %}">
            <a class="nav-link" href="{{ url }}">Contact</a>
          </li>

        </ul>
      </div>
    </div>
  </nav>