{% extends 'base.html' %}
{% load static %}
{% block content %}
<main class="tubers-page">
    <div class="banner">
        <img src="{% static './assets/images/bg-banner.png' %}" alt="" class="img-fluid w-100">
        <h1 class="text-center">
            Tubers
        </h1>
    </div>


    <section class="container mt-5 mb-5">
        <div class="row ">
            <div class="col-lg-8 mb-2 ">
                <section class="tubers">


                    {% for tubers in page_obj %}
                    <div class="card border-0 text-center">
                        <div class="feature-text">
                            
                            <a href="{% url 'youtubers_detail' tubers.id %}">
                                <img src="{{ tubers.photo.url }}" class="card-img-top" alt="team-member">
                            </a>
                            
                            {% if tubers.is_featured %}
                            <span class="text-left bg-accent font-weight-bold">
                                Featured
                            </span>
                            {% endif%}
                            
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">{{ tubers.name }}</h5>
                            <p class="card-text">{{ tubers.category }}</p>
                            <div class="person-description mt-2">
                                <button class="btn btn-accent"> City : {{ tubers.city  }} </button>
                                <button class="btn btn-accent"> Age : {{ tubers.age }} </button>
                                <button class="btn btn-accent"> Height : {{ tubers.height }} </button>
                            </div>
                            <div class="person-description mt-2">
                                <button class="btn btn-accent"> {{ tubers.crew }} </button>
                                <button class="btn btn-accent"> {{ tubers.camera_type}} </button>
                                <button class="btn btn-accent"> {{ tubers.sub_count}}</button>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                    <!-- person 1 -->
                    
                   

                </section>
            </div>

            <div class="col-lg-4 ">
                <div class="card">
                    <div class="card-body">
                        <p class="text-left font-weight-bolder text-black-50">
                            Search Tubers
                        </p>
                        <form method="GET" action="{% url 'search' %}">
                            <div class="form-group">
                                <select name="city" id="inputState" class="form-control">
                                    <option selected disabled hidden>City</option>
                                    {% for city in city_search %}
                                    <option value="{{ city }}">{{ city }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <div class="form-group">
                                <select name="camera" id="inputState" class="form-control">
                                    <option selected disabled hidden>Camera Type</option>
                                    {% for camera in camera_search %}
                                    <option value="{{ camera }}">{{ camera }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <div class="form-group">
                                <select name="category" class="form-control">
                                    <option selected disabled hidden>Category</option>
                                    {% for category in category_search %}
                                    <option value="{{ category }}">{{ category }}</option>
                                    {% endfor %}
                                  </select>
                            </div>
                            <button class="btn btn-accent btn-block">Search</button>
                        </form>


                        
                    </div>
                </div>
            </div>
        </div>
    </section>

    <div class="container section pagination-section mt-3">
        <nav aria-label="Page navigation example">
            <ul class="pagination justify-content-center ">
                


                {%if page_obj.has_previous %} {# whether the previous page exists #}
                <li class="page-item  mx-1"><a  href="?page={{page_obj.previous_page_number}}"><button class="btn btn-accent">Previous</button></a></li> {# link to the prev page #}
                {% endif %}
                
                <li class="page-item mx-1"><a  href="#"><button class="btn btn-accent">{{page_obj.number}}</button></a></li>{# the current page number #}
            
                {%if page_obj.has_next %} {# whether the next page exists #}
                <li class="page-item mx-1"><a  href="?page={{page_obj.next_page_number}}"><button class="btn btn-accent">Next</button></a></li> {# link to the next page #}
                {% endif %}




            </ul>
        </nav>
    </div>
</main>
{% endblock %}